---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-altera-*,-modernize-use-trailing-return-type,-llvm*,-cert-dcl21-cpp'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none
CheckOptions:
  - key: cppcoreguidelines-non-private-member-variables-in-classes.IgnorePublicMemberVariables
    value: true
