[submodule "gnuradio4"]
	path = gnuradio4
	url = https://github.com/gretel/mitradio4.git
	branch = main
[submodule "gr4-incubator"]
	path = gr4-incubator
	url = https://github.com/gretel/gr4-incubator.git
	branch = feat/iio-block
